<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202490310324-gkl14jfe02qrui2d5pg7l77hmig8ndnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202490310324-gkl14jfe02qrui2d5pg7l77hmig8ndnu</string>
	<key>API_KEY</key>
	<string>AIzaSyCu0OSiql_eZFEmm--SJOAB6gvWtZ7rKs4</string>
	<key>GCM_SENDER_ID</key>
	<string>202490310324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.turkcellbootcamp.Week-8</string>
	<key>PROJECT_ID</key>
	<string>turkcellbootcamp</string>
	<key>STORAGE_BUCKET</key>
	<string>turkcellbootcamp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202490310324:ios:c513f7f2e71c344fd7f1e1</string>
</dict>
</plist>